@media (max-width: 1139px) {
  .container {
    padding: 0 100px;
  }

  .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 80px;
    right: 0;
    bottom: 12px;
    border: 1px solid var(--color-light-color);
  }

  .header {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  .header__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-height: 14px;
    max-width: 112px;
    margin-bottom: 45px;
  }

  .header__nav {
    margin-right: 0;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .nav__list {
    gap: 105px;
  }

  .btn__search {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 45px;
  }

  .hero {
    padding-top: 68px;
    padding-bottom: 86px;
  }

  .hero__content {
    padding-top: 8px;
    max-width: 504px;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  .hero__btn {
    padding: 21px 52px;
  }

  .programs {
    padding-bottom: 97px;
  }

  .programs__wrapper {
    padding-left: 100px;
  }

  .programs__list {
    --offsets: 1;
    padding-top: 10px;
  }

  .guests {
    padding-bottom: 46px;
  }

  .guests__lead {
    max-width: 70%;
  }

  .guests__item {
    margin-bottom: 49px;
  }

  .guests__card {
    max-width: 42.5%;
  }

  .guests__descr {
    margin-bottom: 30px;
  }

  .playlists__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .playlists__wrapper {
    margin-right: 0;
  }

  .playlists__list {
    --offsets: 2;
    padding-top: 24px;
  }

  .playlists__item {
    min-height: 112px;
  }

  .playlists__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .playlists__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 112px;
  }

  .playlists__country {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
  }

  .playlists__text {
    padding: 40px 0 40px 10px;
  }

  .product {
    padding-bottom: 92px;
  }

  .product__radio {
    padding-top: 122px;
  }

  .new {
    padding-top: 117px;
    padding-left: 100px;
  }

  .product__text {
    max-width: 48%;
  }

  .product__text--icon {
    background-position: left top 18%;
  }

  .about {
    padding-bottom: 93px;
  }

  .about__figure--first {
    display: none;
  }

  .about__lead {
    max-width: 66%;
  }

  .about__figure--second {
    margin-right: 100px;
    padding-top: 48px;
  }

  .about__list {
    --offsets: 1;
  }

  .about__form {
    padding-right: 0;
  }

  .footer__bottom {
    background-image: url(../img/Vector_footer_1024.svg);
  }
}

@media (max-width: 1013px) {
  .header__nav {
    font-size: 16px;
  }

  .programs {
    position: relative;
    padding-bottom: 217px;
  }

  .programs::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 156px;
    border: 1px solid var(--color-light-color);
  }

  .programs__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .programs__title {
    margin-right: 0;
    margin-bottom: 120px;
  }

  .programs__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -19%;
    left: 28%;
    padding-left: 0;
  }

  .programs__image {
    margin-bottom: 0;
    margin-right: 16px;
  }

  .guests {
    padding-bottom: 50px;
  }

  .guests__lead {
    max-width: 100%;
  }

  .guests__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .guests__img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .guests__card {
    max-width: 67%;
  }

  .playlists {
    padding-bottom: 116px;
  }

  .playlists__list {
    --offsets: 1;
  }

  .product__container {
    gap: 24px;
  }

  .product__radio {
    padding-top: 0;
  }

  .new {
    padding-top: 0;
    padding-left: 15%;
  }

  .product {
    padding-top: 54px;
  }

  .product__text {
    max-width: 99%;
  }

  .product__text--icon {
    background-image: url(../img/Vector_768.svg);
    background-repeat: no-repeat;
    background-position: left top 21%;
  }

  .product__title {
    max-width: 92%;
  }

  .about__lead {
    max-width: 100%;
    margin-bottom: 32%;
  }

  .about__lead--first {
    margin-bottom: 8px;
  }

  .about__wrapper {
    top: unset;
    bottom: 72.5%;
    right: unset;
    left: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .about__figure--second {
    display: none;
  }

  .about__figure--third {
    display: initial;
  }
}

@media (max-width: 938px) {
  .container {
    padding: 0 115px;
  }

  .header {
    padding-top: 25px;
  }

  .header__logo {
    margin-bottom: 48px;
  }

  .header__nav {
    margin-right: 0;
    padding-top: 0;
    overflow-x: auto;
  }

  .nav__list {
    gap: 53px;
    overflow-y: hidden;
  }

  .btn__search {
    margin-bottom: 48px;
  }

  .hero {
    padding-bottom: 89px;
  }

  .hero__content {
    padding-top: 12px;
  }

  .hero__descr {
    margin-bottom: 22px;
  }

  .hero__img {
    display: none;
  }

  .podcasts__list {
    --offsets: 0;
  }

  .programs {
    padding-bottom: 221px;
  }

  .programs__title {
    margin-bottom: 110px;
  }

  .about__wrapper {
    bottom: 72.5%;
}

  .about__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__top {
    padding-bottom: 51px;
  }

  .footer__block--left {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .footer__logo {
    margin-bottom: 13px;
  }

  .social__list {
    justify-content: center;
  }

  .social__link svg {
    width: 33px;
    height: 33px;
  }

  .footer__list {
    -webkit-column-gap: 148px;
    -moz-column-gap: 148px;
    column-gap: 148px;
  }

  .footer__item:nth-child(n+1) {
    margin-bottom: 28px;
  }
}


@media (max-width: 767px) {
  .container {
    padding: 0 32px;
  }

  .new {
    padding-left: 2%;
  }

  .about__wrapper {
    bottom: 72.5%;
}
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--color-primary);
  }

  .btn__search:hover svg {
    stroke: var(--color-primary-light);
  }

  .btn-full:hover {
    background-color: var(--color-primary-light);
  }

  .podcasts__link:hover {
    background-color: var(--color-primary-light);
  }

  .podcasts__link:hover .podcasts__time {
    color: var(--color-white);
  }

  .podcasts__link:hover .podcasts__subtitle {
    color: var(--color-white);
  }

  .podcasts__link:hover .podcasts__author {
    color: var(--color-white);
  }

  .programs__btn:hover {
    border: 2px solid transparent;
    color: var(--color-white);
    background-color: var(--color-primary-light);
  }

  .programs__link:hover {
    color: var(--color-primary);
  }

  .programs__link:hover svg {
    fill: var(--color-primary);
  }

  .guests__link:hover {
    border: 2px solid transparent;
    color: var(--color-white);
    background-color: var(--color-primary-light);
  }

  .playlists__link:hover {
    background-color: var(--color-primary-light);
  }

  .playlists__link:hover .playlists__subtitle {
    color: var(--color-white);
  }

  .playlists__link:hover .playlists__descr {
    color: var(--color-white);
  }

  .product__link:hover {
    border: 2px solid transparent;
    color: var(--color-black);
    background-color: var(--color-promo-color);
  }

  .product__link:hover .product-fill {
    fill: var(--color-black);
  }

  .product__link:hover .product-icon {
    fill: var(--color-promo-color);
  }

  .form__textarea:hover {
    border-color: var(--color-white);
    background-color: var(--color-light-black);
  }

  .form__input:hover {
    border-color: var(--color-white);
    background-color: var(--color-light-black);
  }

  .checkbox__text:hover {
    color: var(--color-primary-light);
  }

  .social__link:hover svg {
    fill: var(--color-primary);
  }

  .footer__link:hover {
    color: var(--color-primary);
  }
}

@media (max-width: 576px) {
  .font-md-regular-150 {
    font-size: 14px;
  }

  .font-lg-medium {
    font-size: 16px;
  }

  .font-lg-regular-auto {
    font-size: 16px;
  }

  .font-lg-bold-150 {
    font-size: 14px;
  }

  .font-lg-regular-160 {
    font-size: 14px;
  }

  .font-lg-medium-auto_mb-subtitle {
    font-size: 14px;
  }

  .font-lg-medium-auto-mobile {
    font-size: 12px;
  }

  .font-md-regular-auto {
    font-size: 12px;
  }

  .font-md-light-22 {
    font-size: 12px;
  }

  .font-md-regular-180-mobile {
    font-size: 14px;
  }

  .font-md-medium-auto-mobile {
    font-size: 12px;
  }

  .font-sm-medium-auto {
    font-size: 9px;
  }

  .font-sm-regular-auto-mobile {
    font-size: 9px;
  }

  .title {
    font-size: 24px;
  }

  .header {
    padding-top: 31px;
    padding-bottom: 24px;
  }

  .header::before {
    top: 72px;
    bottom: 7px;
  }

  .header__logo {
    margin-bottom: 26px;
  }

  .nav__list {
    gap: 26px;
  }

  .btn__search {
    margin-bottom: 26px;
  }

  .hero {
    padding-top: 26px;
    padding-bottom: 41px;
  }

  .hero__content {
    padding-top: 8px;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 32px;
  }

  .hero__descr {
    margin-bottom: 19px;
  }

  .hero__btn {
    padding: 14px 44px;
  }

  .podcasts {
    padding-top: 54px;
    padding-bottom: 94px;
  }

  .podcasts__title {
    margin-bottom: 19px;
  }

  .product__text--icon {
    background-image: url(../img/Vector_768.svg);
    background-position: left top 9%;
  }

  .product__price {
    font-size: 24px;
  }

  .programs::before {
    bottom: 18.5%;
  }

  .programs__wrapper {
    bottom: -25%;
    left: 25%;
    padding-left: 10px;
  }

  .programs__title {
    margin-bottom: 18px;
  }

  .guests {
    padding-top: 55px;
    padding-bottom: 26px;
  }

  .guests__lead--first {
    margin-bottom: 0;
  }

  .guests__lead--second {
    margin-bottom: 26px;
  }

  .guests__item {
    margin-bottom: 28px;
  }

  .guests__img {
    margin-bottom: 11px;
  }

  .guests__card {
    max-width: 100%;
  }

  .guests__link {
    padding: 7px 14px;
  }

  .playlists {
    padding-top: 55px;
    padding-bottom: 63px;
  }

  .playlists__title {
    margin-bottom: 11px;
  }

  .playlists__excerpt {
    line-height: 16px;
  }

  .playlists__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .playlists__link {
    display: block;
    max-height: 300px;
  }

  .playlists__country {
    left: unset;
    right: 0;
  }

  .playlists__text {
    padding: 5px 10px 8px 10px;
  }

  .product {
    padding-bottom: 52px;
  }

  .product__container {
    gap: 16px;
  }

  .new {
    top: -4%;
    padding-left: 2%;
  }

  .product__text--icon {
    background-position: left top 11%;
  }

  .product__title {
    margin-bottom: 39px;
    max-width: 100%;
  }

  .product__descr {
    max-width: 100%;
    line-height: 160%;
  }

  .product__second {
    margin-bottom: 5px;
  }

  .product__price {
    margin-bottom: 13px;
  }

  .product__link {
    padding: 15px 14px;
  }

  .about {
    padding-top: 54px;
    padding-bottom: 53px;
  }

  .about__lead--second {
    margin-bottom: 9%;
  }

  .about__figure--third {
    display: none;
  }

  .about__list {
    margin-bottom: 35px;
  }

  .about__img {
    margin-bottom: 6px;
  }

  .about__subtitle {
    margin-bottom: 3px;
    max-width: 80%;
    line-height: 18px;
  }

  .about__descr {
    line-height: 16px;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
    line-height: auto;
  }

  ::-moz-placeholder {
    font-size: 16px;
    line-height: auto;
  }

  :-ms-input-placeholder {
    font-size: 16px;
    line-height: auto;
  }

  ::-ms-input-placeholder {
    font-size: 16px;
    line-height: auto;
  }

  ::placeholder {
    font-size: 16px;
    line-height: auto;
  }

  .form__textarea {
    padding: 15px 25px;
    border-radius: 20px;
  }

  .form__input {
    min-height: 50px;
    min-width: 48%;
    padding: 5px 24px;
  }

  .form__btn {
    margin-bottom: 15px;
    padding: 14px 43px;
  }

  .footer {
    padding-top: 54px;
  }

  .footer__top {
    padding-bottom: 8px;
  }

  .footer__before {
    display: none;
  }

  .footer__block--left {
    margin-bottom: 43px;
  }

  .footer__middle {
    display: inherit;
    margin-bottom: 10px;
    padding-top: 29px;
    padding-bottom: 22px;
  }

  .footer__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }

  .footer__item:nth-child(n+1) {
    margin-bottom: 23px;
  }

  .footer__copy {
    font-size: 12px;
  }
}

@media (max-width: 354px) {
  .header {
    padding-top: 23px;
  }

  .podcasts {
    padding-bottom: 54px;
  }

  .podcasts__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .podcasts__link {
    display: block;
    max-height: 300px;
  }

  .podcasts__text {
    padding: 23px 20px 26px 16px;
  }

  .podcasts__date {
    top: 0;
    bottom: unset;
  }

  .podcasts__item {
    max-height: 185px;
  }

  .programs {
    padding-top: 55px;
  }

  .programs::before {
    bottom: 22.5%;
  }

  .programs__wrapper {
    bottom: -31%;
    left: 0;
    padding-left: 10px;
  }

  .programs__image {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .programs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .programs__btn {
    padding: 7px 29px;
    margin-bottom: 4px;
  }

  .programs__excerpt {
    min-width: 61%;
    margin-bottom: 7px;
  }

  .programs__item {
    min-height: 149px;
  }

  .programs__text {
    padding: 5px 5px 9px 9px;
  }

  .programs__descr {
    margin-bottom: 14px;
  }

  .new {
    top: 0;
    padding-left: 10%;
  }

  .footer__bottom {
    background-image: url(../img/Vector_footer_mobile.svg);
    background-repeat: repeat-x;
  }

}
