/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light-Italic'),
    url('MullerLightItalic.woff2') format('woff2'),
    url('MullerLightItalic.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular-Italic'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  /* цвета */
  --color-white: #fff;
  --color-primary: #6d31ee;
  --color-primary-shade: #4f28a5;
  --color-primary-light: #aa9dfa;
  --color-light-color: #e6e8ec;
  --color-text-gray: #a1a6b4;
  --color-shade-gray: #d2d5dd;
  --color-black: #121723;
  --color-light-black: #292e39;
  --color-red: #ff6f6f;
  --color-thunderbird: #D52B1E;
  --color-promo-color: #f0d288;
  --color-promo-color-shade: #bb973e;

  --gap: 30px;
}

/* шрифты */
.font-xl-regular {
  font-size: 48px;
  font-weight: 400;
}

.font-lg-regular-auto {
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
}

.font-lg-regular-160 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.font-lg-medium-auto {
  font-size: 20px;
  font-weight: 500;
  line-height: auto;
}

.font-lg-bold-150 {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.font-md-light-22 {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.font-md-regular-auto {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.font-md-regular-150 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.font-md-regular-180 {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}

.font-md-medium-auto {
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}

.font-sm-regular-auto {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}

.font-sm-medium-auto {
  font-size: 12px;
  font-weight: 500;
  line-height: auto;
}

.page {
  min-width: 320px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
  background-color: var(--color-white);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  position: relative;
  padding-top: 31px;
  padding-bottom: 30px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
}

.icon {
  vertical-align: middle;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 80px;
}

.header__logo:focus {
  outline: 1px solid var(--color-primary-shade);
  outline-offset: 3px;
}

.header__logo img {
  display: block;
}

.header__nav {
  margin-right: auto;
  white-space: nowrap;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 58px;
}

.nav__link {
  position: relative;
  z-index: 1;
  color: var(--color-dark);
  background-color: transparent;
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -4px;
  right: -10px;
  bottom: -4px;
  background-color: var(--color-primary-light);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus {
  color: var(--color-white);
}

.nav__link:focus::before {
  opacity: 1;
}

/* .nav__link:hover {
  color: var(--color-primary);
} */

.nav__link:active {
  color: var(--color-primary-shade);
}

.nav__link:active::before {
  opacity: 0;
}

.btn__search {
  outline: none;
}

.btn__search svg {
  stroke: var(--color-primary);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.btn__search:focus svg {
  stroke: var(--color-primary-light);
}

/* .btn__search:hover svg {
  stroke: var(--color-primary-light);
} */

.btn__search:active svg {
  stroke: var(--color-primary-shade);
}

.hero {
  padding-top: 30px;
  padding-bottom: 32px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero__content {
  padding-top: 8px;
  max-width: 635px;
}

.hero__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-align: left;
  color: var(--color-black);
}

.hero__title--italic {
  font-style: italic;
  font-weight: 400;
}

.hero__descr {
  margin: 0;
  margin-bottom: 47px;
  text-align: left;
  color: var(--color-black);
}

.hero__btn {
  padding: 25px 54px;
}

.btn-full {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 40px;
  border: 2px solid transparent;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn-full::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  border: 2px solid var(--color-primary-shade);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.btn-full:focus {
  background-color: var(--color-primary-light);
}

.btn-full:focus::before {
  opacity: 1;
}

/* .btn-full:hover {
  background-color: var(--color-primary-light);
} */

.btn-full:active {
  background-color: var(--color-primary-shade);
}

.btn-full:active::before {
  opacity: 0;
}

.podcasts {
  padding-top: 95px;
  padding-bottom: 94px;
  background-color: var(--color-light-color);
}

.podcasts__title {
  margin: 0;
  margin-bottom: 30px;
  color: var(--color-black);
  text-align: left;
}

.podcasts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.podcasts__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background-color: var(--color-white);
  overflow: hidden;
}

.podcasts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.podcasts__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 140px;
  width: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.podcasts__link:focus {
  background-color: var(--color-primary);
}

.podcasts__link:focus .podcasts__time {
  color: var(--color-white);
}

.podcasts__link:focus .podcasts__subtitle {
  color: var(--color-white);
}

.podcasts__link:focus .podcasts__author {
  color: var(--color-white);
}

/* .podcasts__link:hover {
  background-color: var(--color-primary-light);
}

.podcasts__link:hover .podcasts__time {
  color: var(--color-white);
}

.podcasts__link:hover .podcasts__subtitle {
  color: var(--color-white);
}

.podcasts__link:hover .podcasts__author {
  color: var(--color-white);
} */

.podcasts__link:active {
  background-color: var(--color-primary-shade);
}

.podcasts__link:active .podcasts__time {
  color: var(--color-white);
}

.podcasts__link:active .podcasts__subtitle {
  color: var(--color-white);
}

.podcasts__link:active .podcasts__author {
  color: var(--color-white);
}

.podcasts__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.podcasts__text {
  padding: 40px 20px 10px 30px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.podcasts__date {
  position: absolute;
  margin-top: auto;
  bottom: 0;
  left: 0;
  padding: 2px 6px;
  width: 51px;
  font-size: 10px;
  text-align: center;
  background-color: var(--color-light-color);
}

.podcasts__time {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.podcasts__subtitle {
  margin: 0;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.podcasts__author {
  color: var(--color-text-gray);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.programs {
  padding-top: 97px;
  padding-bottom: 94px;
}

.programs__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs__title {
  margin: 0;
  margin-right: 58px;
}

.programs__wrapper {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 14px;
}

.programs__image {
  display: block;
  margin-bottom: 20px;
}

.programs__btn {
  position: relative;
  margin-bottom: 9px;
  padding: 10px 54px;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  text-align: center;
  outline: none;
  -webkit-transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.programs__btn:focus {
  border: 2px solid var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-primary-light);
}

/* .programs__btn:hover {
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary-light);
} */

.programs__btn:active {
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.programs__excerpt {
  margin: 0;
  max-width: 255px;
  color: var(--color-text-gray);
}

.programs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
  padding-top: 12px;
}

.programs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.programs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  border: 1px solid var(--color-light-color);
}

.programs__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.programs__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.programs__subtitle {
  margin: 0;
  margin-bottom: 2px;
}

.programs__descr {
  margin: 0;
  margin-bottom: 18px;
  color: var(--color-text-gray);
}

.programs__link {
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-right: auto;
  font-style: italic;
  background-color: transparent;
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.programs__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2px;
  top: -4px;
  right: -2px;
  bottom: -4px;
  background-color: var(--color-primary-light);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.programs__link:focus {
  color: var(--color-white);
}

.programs__link:focus::before {
  opacity: 1;
}

/* .programs__link:hover {
  color: var(--color-primary);
} */

.programs__link:active {
  color: var(--color-primary-shade);
}

.programs__link:active::before {
  opacity: 0;
}

.programs__link svg {
  fill: var(--color-black);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.programs__link:focus svg {
  fill: var(--color-white);
}

/* .programs__link:hover svg {
  fill: var(--color-primary);
} */

.programs__link:active svg {
  fill: var(--color-primary-shade);
}

.guests {
  padding-top: 95px;
  padding-bottom: 54px;
  background-color: var(--color-black);
}

.guests__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--color-white);
}

.guests__lead {
  margin: 0;
  max-width: 75%;
  color: var(--color-text-gray);
}

.guests__lead--first {
  margin-bottom: 8px;
}

.guests__lead--second {
  margin-bottom: 49px;
}

.guests__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 47px;
  overflow: hidden;
}

.guests__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
  -o-object-fit: cover;
  object-fit: cover;
}

.guests__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 41.5%;
}

.guests__subtitle {
  margin: 0;
  margin-bottom: 6px;
  color: var(--color-white);
}

.guests__descr {
  margin: 0;
  margin-bottom: 55px;
  color: var(--color-text-gray);
}

.guests__link {
  margin-top: auto;
  padding: 9px 18px;
  border: 2px solid var(--color-primary-light);
  border-radius: 77px;
  text-align: center;
  color: var(--color-primary-light);
  outline: none;
  -webkit-transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.guests__link:focus {
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* .guests__link:hover {
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary-light);
} */

.guests__link:active {
  border: 2px solid transparent;
  color: var(--color-white);
  background-color: var(--color-primary-shade);
}

.playlists {
  padding-top: 95px;
  padding-bottom: 96px;
}

.playlists__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playlists__wrapper {
  margin-right: 79px;
  min-width: 27%;
}

.playlists__title {
  margin-bottom: 11px;
}

.playlists__excerpt {
  margin: 0;
  line-height: 22px;
  color: var(--color-text-gray);
}

.playlists__copy {
  margin: 0;
  margin-bottom: 6px;
  font-style: italic;
  color: var(--color-text-gray);
}

.playlists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  --offsets: 3;
  gap: 27px;
  padding-top: 12px;
}

.playlists__item {
  width: calc((100% - (27px * var(--offsets))) / (var(--offsets) + 1));
  overflow: hidden;
}

.playlists__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  border: 1px solid var(--color-light-color);
  overflow: hidden;
}

.playlists__link {
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.playlists__link:focus {
  background-color: var(--color-primary);
}

.playlists__link:focus .playlists__subtitle {
  color: var(--color-white);
}

.playlists__link:focus .playlists__descr {
  color: var(--color-white);
}

/* .playlists__link:hover {
  background-color: var(--color-primary-light);
}

.playlists__link:hover .playlists__subtitle {
  color: var(--color-white);
}

.playlists__link:hover .playlists__descr {
  color: var(--color-white);
} */

.playlists__link:active {
  background-color: var(--color-primary-shade);
}

.playlists__link:active .playlists__subtitle {
  color: var(--color-white);
}

.playlists__link:active .playlists__descr {
  color: var(--color-white);
}

.playlists__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.playlists__country {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 4px;
  background-color: var(--color-black);
}

.playlists__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 9px 14px 14px 16px;
}

.playlists__subtitle {
  margin: 0;
  margin-bottom: 3px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.playlists__descr {
  margin: 0;
  color: var(--color-text-gray);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.product {
  padding-top: 95px;
  padding-bottom: 131px;
  background-color: var(--color-light-black);
}

.product__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 13px;
}

.product__radio {
  padding-top: 7px;
}

.product__text {
  max-width: 40%;
}

.product__text--icon {
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: left top 20%;
}

.product__title {
  margin: 0;
  margin-bottom: 47px;
  color: var(--color-promo-color);
}

.product__descr {
  margin: 0;
  color: var(--color-white);
}

.product__first {
  margin-bottom: 13px;
}

.product__second {
  margin-bottom: 30px;
}

.product__price {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  color: var(--color-white);
}

.product__link {
  padding: 25px 13px;
  border: 2px solid var(--color-promo-color);
  border-radius: 100px;
  color: var(--color-promo-color);
  line-height: 100%;
  white-space: nowrap;
  outline: none;
  -webkit-transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.product__link:focus {
  border: 2px solid var(--color-promo-color);
  color: var(--color-black);
  background-color: var(--color-promo-color-shade);
}

/* .product__link:hover {
  border: 2px solid transparent;
  color: var(--color-black);
  background-color: var(--color-promo-color);
} */

.product__link:active {
  border: 2px solid transparent;
  color: var(--color-black);
  background-color: var(--color-promo-color-shade);
}

.product__link svg {
  vertical-align: middle;
}

.product-fill {
  fill: var(--color-promo-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.product__link:active .product-fill {
  fill: var(--color-black);
}

/* .product__link:hover .product-fill {
  fill: var(--color-black);
} */

.product__link:focus .product-fill {
  fill: var(--color-promo-color);
}

.product-icon {
  fill: var(--color-black);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.product__link:active .product-icon {
  fill: var(--color-promo-color-shade);
}

/* .product__link:hover .product-icon {
  fill: var(--color-promo-color);
} */

.product__link:focus .product-icon {
  fill: var(--color-black);
}

.about {
  padding-top: 95px;
  padding-bottom: 91px;
  background-color: var(--color-black);
}

.about__container {
  position: relative;
}

.about__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--color-white);
}

.about__lead {
  margin: 0;
  margin-bottom: 29px;
  max-width: 58%;
  color: var(--color-text-gray);
}

.about__lead--first {
  margin-bottom: 8px;
}

.about__wrapper {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__figure--first {
  margin-right: 30px;
}

.about__figure--second {
  margin-right: 15px;
}

.about__figure--third {
  display: none;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
  --offsets: 3;
  gap: 28px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc((100% - (28px * var(--offsets))) / (var(--offsets) + 1));
}

.about__img {
  margin-bottom: 25px;
}

.about__subtitle {
  margin: 0;
  margin-bottom: 5px;
  color: var(--color-white);
}

.about__descr {
  margin: 0;
  line-height: 24px;
  color: var(--color-text-gray);
}

.about__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 190px;
}

::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 20px;
}

::-moz-placeholder {
  font-size: 20px;
  line-height: 20px;
}

:-ms-input-placeholder {
  font-size: 20px;
  line-height: 20px;
}

::-ms-input-placeholder {
  font-size: 20px;
  line-height: 20px;
}

::placeholder {
  font-size: 20px;
  line-height: 20px;
}

.form__textarea {
  min-height: 150px;
  min-width: 100%;
  margin-bottom: 30px;
  padding: 30px 32px;
  resize: none;
  border: 1px solid var(--color-text-gray);
  border-radius: 30px;
  background-color: var(--color-black);
  outline: none;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form__textarea:focus {
  border-color: var(--color-primary-light);
  background-color: var(--color-light-black);
}

/* .form__textarea:hover {
  border-color: var(--color-white);
  background-color: var(--color-light-black);
} */

.form__textarea:active {
  border-color: var(--color-white);
  background-color: transparent;
}

.form__textarea--about {
  color: var(--color-white);
}

.form__input {
  min-height: 70px;
  min-width: 48%;
  margin-bottom: 30px;
  padding: 10px 32px;
  border: 1px solid var(--color-text-gray);
  border-radius: 40px;
  background-color: var(--color-black);
  text-align: left;
  outline: none;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form__input:focus {
  border-color: var(--color-primary-light);
  background-color: var(--color-light-black);
}

/* .form__input:hover {
  border-color: var(--color-white);
  background-color: var(--color-light-black);
} */

.form__input:active {
  border-color: var(--color-white);
  background-color: transparent;
}

.form__input--about {
  color: var(--color-white);
}

.form__btn {
  display: block;
  margin-bottom: 28px;
  padding: 22px 54px;
  white-space: nowrap;
}

.checkbox {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__input {
  content: "";
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__text {
  position: relative;
  border: 1px solid transparent;
  padding-left: 20px;
  color: var(--color-white);
  -webkit-transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

/* .checkbox__text:hover {
  color: var(--color-primary-light);
} */

.checkbox__text::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -2px;
  border: 1px solid currentColor;
  width: 14px;
  height: 14px;
}

.checkbox__text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -3px;
  width: 14px;
  height: 14px;
  background-image: url(../img/Check.svg);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  opacity: 0;
}

.checkbox__input:checked+.checkbox__text::after {
  opacity: 1;
}

.checkbox__input:focus+.checkbox__text {
  outline: 1px solid var(--color-primary-shade);
  outline-offset: 3px;
}

.footer {
  padding-top: 94px;
  padding-bottom: 8px;
  background-color: var(--color-light-black);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top {
  padding-bottom: 48px;
}

.footer__block--left {
  margin-right: auto;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__logo:focus {
  outline: 1px solid var(--color-primary-shade);
  outline-offset: 3px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.social__link {
  display: block;
  outline: none;
}

.social__link svg {
  fill: var(--color-shade-gray);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.social__link:focus svg {
  fill: var(--color-primary-light);
}

/* .social__link:hover svg {
  fill: var(--color-primary);
} */

.social__link:active svg {
  fill: var(--color-primary-shade);
}

.footer__list {
  display: block;
  padding-left: 12px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 94px;
  -moz-column-gap: 94px;
  column-gap: 94px;
}

.footer__item:nth-child(n+1) {
  margin-bottom: 17px;
}

.footer__link {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  background-color: transparent;
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -4px;
  right: -10px;
  bottom: -4px;
  background-color: var(--color-primary-light);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.footer__link:focus::before {
  opacity: 1;
}

/* .footer__link:hover {
  color: var(--color-primary);
} */

.footer__link:active {
  color: var(--color-primary-shade);
}

.footer__link:active::before {
  opacity: 0;
}

.footer__middle {
  display: none;
  background-color: var(--color-black);
}

.footer__bottom {
  background-image: url(../img/Vector_footer.svg);
  background-repeat: repeat-x;
}

.footer__copy {
  margin: 0;
  padding-top: 21px;
  width: 100%;
  text-align: center;
  color: var(--color-text-gray);
}

